== render :partial => 'shared/welcome_modal', :locals => {:organization => @project.organization}
== render :partial => 'shared/masthead', :locals => {:organization => @project.organization}
== render :partial => 'shared/project_nav'

div class="row"
  div class="span12"
    span class="pull-right"
        = link_to "New budget", new_organization_project_path(@organization)
        '  |
        = link_to "Edit this budget", edit_organization_project_path(@organization, @project)
        '  |
        = link_to "Delete", { :action => "destroy", :id => @project.id }, :confirm => "Are you sure?", :method => :delete
javascript:
  var chart;
    jQuery(document).ready(function() {
      chart = new Highcharts.Chart({
        colors: ['#DD514C', '#5EB95E'],
        chart: {
          renderTo: 'expenditures',
          defaultSeriesType: 'line'
        },
        title: {
          text: 'Expenditures and Revenues'
        },
        xAxis: {
          categories:
            #{@project_years}
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Cost'
          }
        },
        legend: {
          layout: 'vertical',
          backgroundColor: '#FFFFFF',
          align: 'left',
          verticalAlign: 'bottom',
          x: 100,
          y: -30,
          floating: true,
          shadow: true
        },
        tooltip: {
          formatter: function() {
            return ''+
              this.x +': $'+ Highcharts.numberFormat(this.y) +'';
          }
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
        series: [{
          name: 'Expenditures',
          data: #{@expenditure_totals}
      
        }, {
          name: 'Revenues',
          data: #{@revenue_totals}
      
        }]
      });
      
      
    });

div class="row"
  div class="span12"      
    == render :partial => 'shared/not_verified'

div class="row"
  - if @project.organization.projects.size > 1
    div class="span6"
      div id="expenditures" class="highcharts-container" style="height:300px; margin: 0 0em; clear:both; min-width: 600px"
      h2 All Budgets
      - for project in @project.organization.projects.order("year desc")
        h3 = link_to "#{project.organization.name}, #{project.year}", organization_project_path(project.organization, project)
      hr
  - else
    div class="span12"
      div class="alert alert-info"
        a data-dismiss="alert" class="close" href="#" ×
        h3
          ' Sorry, but #{@project.organization.name} hasn't added more than one budget.
        p
          ' Once two budgets are available we'll be able to generate trending charts and graphs. If you are interested in seeing these awesome charts and graphs that we generate, consider encouraging your city or town to use Budget Vision.

== render :partial => 'shared/comments'