== render :partial => 'shared/welcome_modal', :locals => {:organization => @project.organization}

== render :partial => 'shared/masthead', :locals => {:organization => @project.organization}

javascript:
  var chart;
    jQuery(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'expenditures',
          defaultSeriesType: 'column'
        },
        title: {
          text: 'Expenditures and Revenues'
        },
        xAxis: {
          categories:
            #{@project_years}
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Cost'
          }
        },
        legend: {
          layout: 'vertical',
          backgroundColor: '#FFFFFF',
          align: 'left',
          verticalAlign: 'top',
          x: 100,
          y: 30,
          floating: true,
          shadow: true
        },
        tooltip: {
          formatter: function() {
            return ''+
              this.x +': $'+ this.y +'';
          }
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
        series: [{
          name: 'Expenditures',
          data: #{@expenditure_totals}
      
        }, {
          name: 'Revenues',
          data: #{@revenue_totals}
      
        }]
      });
      
      
    });

div class="row"
  div class="span12"
    div class="row"
      div class="span2" id="left-rail"
        == render :partial => 'shared/left_rail'        

      div class="span10"
        div class="row action-bar"
          div class="span5"
            == render :partial => 'shared/social_sharing'
          div class="span5"
            span style="float: right; padding-right: 10px;"

      
      == render :partial => 'shared/not_verified'

      div class="span10"
        div class="row"
          - if @project.organization.projects.size > 1
            div class="span5"
              div id="expenditures" class="highcharts-container" style="height:300px; margin: 0 2em; clear:both; min-width: 600px"
              h2 All Budgets
              - for project in @project.organization.projects
                h3 = link_to "#{project.organization.name}, #{project.year}", organization_project_path(project.organization, project)
              hr
            div class="span8"
              == render :partial => 'shared/comments'
          - else
            div class="span10"
              h2
                | Sorry, but #{@project.organization.name} hasn't added more than one budget. Once more than one budget is available we'll be able to generate trending charts and graphs.