/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
*= require bootstrap
*= require bootstrap-responsive
*/

body {
  background-image:url('/assets/goovepaper.png');
  background-repeat:repeat;
  padding-top: 60px;
}

#content {
  background-color: #FFF;
  -moz-box-shadow: 0 0 1px #C8B3B3;
  -webkit-box-shadow: 0 0 1px#C8B3B3;
  box-shadow: 0 0 1px #C8B3B3;
  margin-bottom: 20px;
  border-radius: 2px;
  padding-left: 14px;
  padding-right: 14px;
}

#pitch h1 {
  font-size: 72px;
  margin-top: 30px;
  line-height: 72px;
}

#masthead {
  margin-bottom: 0px;
}

#header {
  background: #323A44;
  height: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding-top: 20px;
  padding-left: 10px;
  margin-left: 5px;
}

#header h1 {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 0px;
  color: #FFF;
}

#header h1 a {
  color: #FFF;
}

#header h2 {
  font-size: 28px;
  color: #FFF;
  margin-bottom: 0px;
}

p#make-it-more-accurate {
  padding-right: 12px;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 0px;
}

.budget-vision-score-data {
  border-top-right-radius: 2px;
  margin-left: 0px;
  padding-left: 8px;
  color: #FFFFFF;
}

#budget-vision-score {
  text-align: center;
  background: #FFF;
  margin-left: 0px;
}

#budget-vision-score h1 {
  font-size: 72px;
  line-height: 52px;
}

.box {
  background-color: #EAF6FF;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
}

table td.number {
  text-align: right;
}