/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
*= require bootstrap
*= require bootstrap-responsive
*= require treemap
*/

body {
  background-image:url('/assets/goovepaper.png');
  background-repeat:repeat;
  padding-top: 60px;
}

#content {
  background-color: #FFF;
  -moz-box-shadow: 0 0 1px #C8B3B3;
  -webkit-box-shadow: 0 0 1px#C8B3B3;
  box-shadow: 0 0 1px #C8B3B3;
  margin-bottom: 20px;
  border-radius: 2px;
  padding-left: 14px;
  padding-right: 14px;
}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

/* Masthead (docs home) */
.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}
.masthead h1,
.masthead p {
  text-align: left;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-right: 5%;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#header {
  background: #323A44;
  margin-bottom: 20px;
  color: #FFF;
}

#header h1 {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 0px;
  color: #FFF;
  padding-left: 14px;
}

#header h2 {
  color: #FFF;
  padding-left: 14px;
}

#header h1 a {
  color: #FFF;
  padding-left: 14px;
}

#header h2 a {
  font-size: 28px;
  color: #FFF;
  margin-bottom: 0px;
  padding-left: 14px;
}

p#make-it-more-accurate {
  padding-left: 14px;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 0px;
}

#budget-vision-score-data {
  color: #323A44;
}

#budget-vision-score {
  text-align: center;
  background: #FFF;
}

#budget-vision-score h1 {
  font-size: 72px;
  line-height: 52px;
  color: #323A44;
}

.box {
  background-color: #EAF6FF;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
}

table td.number, table th.number {
  text-align: right;
}

.nav-tabs > li > span {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-image: initial;
}

.nav-tabs > .current > span {
  color: #555;
  background-color: white;
  border: 1px solid #DDD;
  border-bottom-color: transparent;
  cursor: default;
  border-image: initial;
}

.nav-tabs > li > span, .nav-pills > li > span {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav > li > span {
  display: block;
}